/* Resetando estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000; /* Fundo preto */
  color: #e0e0e0; /* Texto cinza claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.apresentacao {
  width: 90%;
  max-width: 900px;
  height: 80%;
  background-color: #222; /* Cartão escuro */
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: relative;
  padding: 20px;
  color: #e0e0e0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #fff; /* Título branco */
}

p, ul {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #bbb; /* Texto secundário mais claro */
}

ul {
  list-style-type: none;
  padding: 0;
}

.slide {
  display: none;
  padding: 40px;
  transition: opacity 0.3s ease;
}

.slide.active {
  display: block;
  opacity: 1;
}

.controles {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.btn-navegacao {
  background-color: #4f4f4f; /* Cinza escuro */
  color: #e0e0e0;
  border: none;
  padding: 15px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-navegacao:hover {
  background-color: #636363; /* Cinza mais claro no hover */
  transform: translateY(-2px);
}

.btn-navegacao:active {
  background-color: #787878;
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .apresentacao {
      height: 100%;
  }

  h1 {
      font-size: 2rem;
  }

  p, ul {
      font-size: 1rem;
  }

  .controles {
      bottom: 20px;
      width: 200px;
  }
}
